<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>
        <input id="menuId" type="checkbox" hidden>
        <section class="left-menu">
            <article class="left-art1">
                <h1> ERP - Rest </h1>
                <label class="login-css" for="menuId" >X</label>
            </article>
            <article class="left-art2">
                <div class="div-1"> <img src="../../../assets/img/u.jpg"> </div>
                <div class="div-2">
                    <div> José Ndonge </div>
                    <div class="userOnline"> <p class="online-log"></p>  Online  </div>
                </div>
            </article>
            <article class="left-art3">
                <div> 21h : 22min :  00s </div>
                <div> 10 - 02 - 2020 </div>
            </article>
            <article class="left-art3 s">
                <div class="input-div"> <input type="text" placeholder="Pequisar..."> <div class="icon-dv"></div> </div>
            </article>
            <article class="container-div-btn">
                <div class="btn-primary">
                    <button><label>Dashboard</label><label>icon</label></button>
                </div>
                <div class="container-btn">
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                </div>
            </article>
            <article class="container-div-btn">
                <div class="btn-primary">
                    <button><label>Dashboard</label><label>icon</label></button>
                </div>
                <div class="container-btn">
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                    <button><label>icon</label><label>Dashboard</label></button>
                </div>
            </article>
        </section>

        <section class="right-menu">
            <section>
                <header>
                    <article><label for="menuId">menu</label></article>
                    <article class="menu-hl">
                        <div class="sub-dv">
                            <label>12</label>
                            <i>icon</i>
                        </div>
                        <div class="sub-dv">
                            <label>12</label>
                            <i>icon</i>
                        </div>
                        <div>
                            <i>icon</i>
                            <label><b>José Ndonge</b></label>
                            <i>icon</i>
                        </div>
                    </article>
                </header>
                <article class="art-r1">
                    <div>
                        <div class="icon c1">
                            <i>Icon</i>
                        </div>
                        <div class="legend">
                            <h1>300</h1>
                            <label>Pessoas</label>
                        </div>
                    </div>
                    <div>
                        <div class="icon c2">
                            <i>Icon</i>
                        </div>
                        <div class="legend">
                            <h1>300</h1>
                            <label>Pessoas</label>
                        </div>
                    </div>
                    <div>
                        <div class="icon c3">
                            <i>Icon</i>
                        </div>
                        <div class="legend">
                            <h1>300</h1>
                            <label>Pessoas</label>
                        </div>
                    </div>
                    <div>
                        <div class="icon c4">
                            <i>Icon</i>
                        </div>
                        <div class="legend">
                            <h1>300</h1>
                            <label>Pessoas</label>
                        </div>
                    </div>
                </article>
                <article class="artr-r2">
                    <div class="chart-div">
                        <header class="header-info">
                            GRAFICO PRINCIPAL
                        </header>
                        <section class="container-p">

                        </section>
                    </div>
                    <div class="notify-div">
                        <header class="header-info">
                            NOTIFICAÇÕES
                        </header>
                        <div class="container-p">
                            <div class="div-sms colorA">
                                <span>X</span>
                                <p>Restydgyhb sjbdisknd sjdbis djfsufj dhgjkndfg difng dhfgidfn guid <br> oindnkd sjbds d</p>
                            </div>
                            <div class="div-sms colorB">
                                <span>X</span>
                                <p>Restydgyhb sjbdisknd sjdbis djfsufj dhgjkndfg difng dhfgidfn guid <br> oindnkd sjbds d</p>
                            </div>
                            <div class="div-sms colorC">
                                <span>X</span>
                                <p>Restydgyhb sjbdisknd sjdbis djfsufj dhgjkndfg difng dhfgidfn guid <br> oindnkd sjbds d</p>
                            </div>
                            <div class="div-sms colorD">
                                <span>X</span>
                                <p>Restydgyhb sjbdisknd sjdbis djfsufj dhgjkndfg difng dhfgidfn guid <br> oindnkd sjbds d</p>
                            </div>
                        

                        </div>
                    </div>
                </article>
                <article class="mesmo-res">
                    <p>Todos os direitos reservados Kudissanga</p>
                </article>
        </section>
        </section>
    </main>
    <script>
        setTimeout(() => {
            
       // location.reload();
        }, 100);
    </script>
</body>
</html>